@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
}

body {
    display: flex;
    justify-content: left;
    align-items: end;
    background-color: #0d0c0d;
    color: #00FF00;
}
.red{
    color: #FF0000;
}
.blue{
    color: #0000FF;
}
.yellow{
    color: #FFFF00;
}
.orange{
    color: #FFA500;
}