*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*  font-family: 'Jost', sans-serif; */
    outline: none;
    color: #ffffff;
}
body {
    background: #384246;
}
#navcon{
    display: flex;  
    width: 100%;
    justify-content: center;
    font-size: 27px;
}
.mainnav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbc {
    width: 30%;
    left: 0;
}
#navbar {
    width: 70%;
    float: right;

}
.li {
    width: fit-content;
    margin-left: 10px;
}
.ul {
    display: flex;
    text-align: right;
    justify-content: right;
}
footer {
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #000000;
  }