.part1 {
    justify-content: center;
    height: 400px;
    padding: 50px;
  }
.text1 {
    width: 45%;
}
.title-t1 {
    font-size: xx-large;
}
.propic {
    margin-left: 1%;
    height: 300px;
    width: 300px; 
}

.avatar {
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 50% !important;
}

.text-t1 {
    font-size: large;
    word-wrap: break-word;
}